.sectionTitle {
  color: var(--text-title-blue-france);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
}

@media (width <= 48rem) {
  .sectionTitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.visualisationImage {
  order: 1;
  padding: 0;
}

.visualisationContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  order: 2;
}

/* Sur mobile (< 768px), inverser l'ordre */
@media (width < 47.9375em) {
  .visualisationImage {
    order: 2;
  }

  .visualisationContent {
    order: 1;
  }
}
