@import url('maplibre-gl/dist/maplibre-gl.css');

.mapContainer {
  border-radius: 4px;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.maplibregl-canvas {
  height: 100%;
  width: 100%;
}

.mapWrapper {
  height: 100vh;
  position: relative;
  width: 100%;
}

.legendWrapper {
  bottom: 20px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
} 