.feuilles-de-route ul {
  --ul-type: none;
}

.card-resume-montant-subvention {
  background-color: var(--info-950-100);
  border-radius: 0.5rem;
  min-height: 5rem;
  padding: 1rem;
  text-align: left;
  width: 32%;
}

.align-items {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.budget li:first-child {
  font-weight: 900;
}

.budget li:nth-child(2) {
  color: var(--text-title-blue-france);
}
