.badge {
  background-color: var(--background-contrast-yellow-tournesol);
  color: var(--text-default-grey);
}

.title {
  color: var(--blue-france-sun-113-625);
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  text-align: center;
}

.subtitle {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  text-align: center;
}

@media (width <= 48rem) {
  .subtitle {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
