.container {
  position: relative;
}

.filled {
  background-color: var(--background-alt-blue-france) !important;
}

.open {
  background-color: var(--background-contrast-grey) !important;
}

.popover {
  background-color: var(--background-default-grey);
  border-radius: 0.5rem;
  box-shadow: var(--raised-shadow);
  margin-top: 0.5rem;
  padding: 1.5rem;
  position: absolute;
  right: 0;
  top: 100%;
  width: 22rem;
  z-index: 1000;
}

.dateInput {
  font-size: 0.875rem;
  padding: 0.5rem;
}

/* Mobile : popover pleine largeur */
@media (width < 36rem) {
  .popover {
    left: 0;
    right: 0;
    width: auto;
  }
}
