.container {
  align-items: center;
  border-radius: 0.5rem;
  display: inline-flex;
  flex-shrink: 0;
  font-weight: normal !important;
  justify-content: center;
}

.icon {
  line-height: 1;
}

.small {
  height: 2rem;
  width: 2rem;

  .icon {
    font-size: 1rem !important;
    line-height: 1rem !important;
    max-height: 1rem;
    max-width: 1rem;

    &::before {
      max-height: 1rem;
      max-width: 1rem;
    }
  }
}

.medium {
  height: 3rem;
  width: 3rem;

  .icon {
    font-size: 1.5rem !important;
    line-height: 1.5rem !important;
    max-height: 1.5rem;
    max-width: 1.5rem;

    &::before {
      max-height: 1.5rem;
      max-width: 1.5rem;
    }
  }
}

.medium-large {
  height: 4.25rem;
  width: 4.25rem;

  .icon {
    font-size: 1.75rem !important;
    line-height: 1.75rem !important;
    max-height: 1.75rem;
    max-width: 1.75rem;

    &::before {
      max-height: 1.75rem;
      max-width: 1.75rem;
    }
  }
}

.large {
  height: 4rem;
  width: 4rem;

  .icon {
    font-size: 2rem !important;
    line-height: 2rem !important;
    max-height: 2rem;
    max-width: 2rem;

    &::before {
      max-height: 2rem;
      max-width: 2rem;
    }
  }
}

.blue {
  background-color: var(--blue-france-975-75);
  color: var(--text-title-blue-france);
}

.white {
  background-color: var(--grey-1000-75);
  color: var(--text-title-blue-france);
}

.purple {
  background-color: var(--purple-glycine-950-100);
  color: var(--blue-ecume-sun-113-625);
}

.green {
  background-color: var(--green-tilleul-verveine-975-75);
  color: var(--yellow-tournesol-sun-407-moon-922);
}

.pink {
  background-color: var(--pink-macaron-850-100);
  color: var(--purple-glycine-950-100);
}

.red {
  background-color: var(--red-marianne-975-75);
  color: var(--purple-glycine-950-100);
}
