.remonter-donnee {
  margin-top: -5vw;
  pointer-events: none;
  position: relative;
  z-index: -1;
}

.text-ellipsis {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dot-margin {
  margin-right: 0.5em;
}

.item-type-padding {
  padding-left: 0.1em;
}
