.container {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.leftPart {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.rightPart {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.label {
  text-align: left;
  margin-bottom: 0;
  flex: 1;
}

.oneLineLabel {
  white-space: nowrap;
}

.truncatedLabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.count {
  text-align: right;
  margin-bottom: 0;
  flex-shrink: 0;
}

.proportion {
  text-align: right;
  margin-bottom: 0;
  flex-shrink: 0;
  min-width: 48px;
}

.progressBar {
  flex: 1;
  display: flex;
  justify-content: center;
}
