.sectionTitle {
  color: var(--text-default-grey);
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1.25rem;
  text-transform: uppercase;
}

.typesList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.typeItem {
  align-items: center;
  background-color: var(--background-alt-blue-france);
  border-radius: 0.5rem;
  color: var(--text-default-grey);
  display: flex;
  gap: 0.75rem;
  padding: 0.25rem 1.25rem 0.25rem 1rem;
}

.typeItem svg {
  color: var(--text-default-info);
  fill: currentcolor;
}
