.tache {
  align-items: center;
  background-color: var(--grey-1000-50);
  border-radius: 0.25rem;
}

.separator {
  border-right: 0.1rem solid var(--border-default-grey);
}

.remonter-donnee {
  margin-top: -5vw;
  pointer-events: none;
  position: relative;
  z-index: -1;
}

.hidden {
  display: none;
}
