.container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.logo,
.logoWithBackground {
  display: flex;
  width: 50px;
  height: 50px;
}

.logo img,
.logoWithBackground img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logoWithBackground {
  overflow: hidden;
  background-color: white;
  border-radius: 6.667px;
}
