.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.logo,
.logoWithBackground {
  display: flex;
  height: 3.125rem;
  width: 3.125rem;
}

.logo img,
.logoWithBackground img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.logoWithBackground {
  background-color: white;
  border-radius: 0.417rem;
  overflow: hidden;
}
