.center {
  text-align: center;
}

.article > div {
  margin: 0;
  padding: 0;
}

.resume-note-privee > div > div {
  padding: 0;
}

.header div:last-child {
  text-align: right;
}

.resume-membres {
  background-color: var(--info-950-100);
  background-image: none !important;
  border-radius: 1rem;
  height: 20rem !important;
  overflow: scroll;
}

.resume-membres div div:nth-child(1) {
  justify-content: space-between;
}

.resume-membres span {
  display: block;
}

.resume-membres span::first-letter {
  text-transform: capitalize;
}

.resume-a {
  background-image: none;
  border-top: 0.1rem solid var(--grey-1000-50);
  padding-top: 0.5rem;
}

.resume-feuilles-de-route {
  background-color: var(--purple-glycine-950-100);
  background-image: none !important;
  border-radius: 1rem;
  height: 20rem !important;
  overflow: scroll;
}

.resume-feuilles-de-route div div:nth-child(1) {
  justify-content: space-between;
}

.resume-feuilles-de-route span {
  display: block;
}

.resume-feuilles-de-route span::first-letter {
  text-transform: capitalize;
}

.resume-note-privee {
  background-image: none !important;
}

.resume-note-privee button {
  background-color: var(--green-tilleul-verveine-975-75);
  border-radius: 1rem;
  height: 20rem !important;
  overflow: scroll;
  padding: 2rem;
  text-align: left;
}

.resume-note-privee div div:nth-child(1) button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resume-note-privee span {
  font-size: 1.5rem;
  font-weight: 700;
}

.resume-note-privee p {
  margin: 0;
}

.resume-note-privee-vide {
  background-color: var(--green-tilleul-verveine-975-75);
  background-image: none !important;
  border-radius: 1rem;
  height: 20rem !important;
  overflow: scroll;
  padding: 2rem;
  text-align: left;
}

.resume-note-privee-vide div div:nth-child(1) {
  justify-content: space-between;
}

.resume-note-privee-vide span {
  padding: 1rem;
}

.article table {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  margin-top: -1.5rem;
}

.article tbody td {
  background-image: linear-gradient(var(--grey-900-175), var(--grey-900-175)) !important;
  padding: 1rem !important;
}

.article tbody td:first-child {
  width: 3rem;
}

.article tbody td:last-child {
  width: 3rem;
}

.collapse {
  height: 4.4rem;
  overflow: hidden;
}
