.heroTitle {
  color: var(--text-title-blue-france);
  font-family: Marianne, sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

@media (width <= 48rem) {
  .heroTitle {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.imageLeft {
  order: 1;
}

.contentRight {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  order: 2;
}

/* Sur mobile (< 768px), inverser l'ordre : texte puis image */
@media (width < 47.9375em) {
  .imageLeft {
    order: 2;
  }

  .contentRight {
    order: 1;
  }
}
