.fr-links-group {
  list-style-type: none;
}

.fr-links-group a[href] {
  background-image: none;
}

.deconnexion {
  align-self: center;
  justify-content: center;
  max-width: 14rem !important;
  text-align: center;
  width: 100%;
}

.nom {
  display: block;
}
