.aidantsConnectImage {
  order: 1;
  padding: 2.5em;
}

.aidantsConnectContent {
  display: flex;
  flex-direction: column;
  gap: 1em;
  order: 2;
}

/* Sur mobile (< 768px), inverser l'ordre */
@media (width < 47.9375em) {
  .aidantsConnectImage {
    order: 2;
  }

  .aidantsConnectContent {
    order: 1;
  }
}
