.horizontal-text-input {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.half-width {
  width: 40%;
}

.select-width {
  width: 49%;
}

.align-items {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  max-width: 100%;
}

.no-border {
  border: 0;
}
