.horizontal-text-input {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.half-width {
  width: 40%;
}

.select-width {
  width: 49%;
}

.align-items {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  max-width: 100%;
}

.no-border {
  border: 0;
}

.no-border label {
  align-items: inherit !important;
  flex-flow: column !important;
}

.separator div:first-child {
  border-bottom: 0.1rem solid var(--border-default-grey);
  padding-bottom: 0.5rem;
}

.separator input[type='checkbox']:checked + label {
  font-weight: 700;
}

.separator input {
  margin-top: 1rem;
}

.no-style-list {
  list-style-type: none;
}
