.wrapper {
  display: grid;
  grid-template:
    "header header" auto
    "sidebar content" 1fr / 20rem 1fr;
}

.header {
  grid-area: header;
}

.sidebar {
  background-color: var(--background-default-grey);
  grid-area: sidebar;
}

.content {
  background-color: var(--background-default-grey);
  grid-area: content;
  padding: 2.5rem;
  padding-bottom: 5rem;
}

@media (width <= 62rem) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    margin-bottom: 1.5rem;
    order: 1;
  }

  .header {
    order: 2;
  }

  .content {
    order: 3;
    padding: 1rem;
    padding-bottom: 2.5rem;
  }
}
