.color-blue-france {
  color: var(--text-title-blue-france);
}

.color-grey {
  color: var(--grey-425-625);
}

.color-red {
  color: var(--red-marianne-main-472);
}

.red-button {
  background-color: var(--red-marianne-main-472) !important;

  &:disabled {
    color: var(--blue-france-975-75);
    opacity: 0.3;
  }
}

.font-weight-700 {
  font-weight: 700;
}

.icon-title {
  background-color: var(--blue-france-975-75);
  border-radius: 0.25rem;
  padding: 0 1rem;
}

.fr-search-bar {
  width: 50%;
}

.grey-border {
  border: 0.1rem solid var(--grey-900-175);
}

.menu-border {
  border-left: 0.1rem solid var(--grey-900-175);
}

.modal-body {
  border-radius: 1rem;
}

.fr-btns-group--space-between {
  justify-content: space-between;
}

.no-hover:hover {
  background-color: unset !important;
}

.d-block {
  display: block;
}

tr {
  position: relative;
}

table :any-link.primary,
table button.primary {
  position: revert;
}

table :any-link.primary::before,
table button.primary::before {
  content: '';
  inset: 0;
  position: absolute;
  z-index: 1;
}

table :any-link,
table button {
  position: relative;
  z-index: 2;
}

.drawer-invitation-button {
  justify-content: center;
  width: 100%;
}
