.color-blue-france {
  color: var(--text-title-blue-france);
}

.color-grey {
  color: var(--grey-425-625);
}

.color-red {
  color: var(--red-marianne-main-472);
}
.color-red-strong {
  color: var(--red-marianne-main-472) !important;
}

.red-button {
  background-color: var(--red-marianne-main-472) !important;

  &:disabled {
    color: var(--blue-france-975-75);
    opacity: 0.3;
  }
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-700 {
  font-weight: 700;
}

.icon-title {
  background-color: var(--blue-france-975-75);
  border-radius: 0.5rem;
  line-height: 4rem;
  padding: 0 1.5rem;
}

.background-blue-france {
  background-color: var(--blue-france-975-75);
  border-radius: 0.5rem;
}

.background-red {
  background-color: var(--red-marianne-975-75);
  border-radius: 0.5rem;
}

.background-info {
  background-color: var(--info-950-100);
  border-radius: 0.5rem;
}

.fr-search-bar {
  width: 50%;
}

.grey-border {
  border: 0.1rem solid var(--grey-900-175);
}

.grey-dashed-border {
  border: 0.1rem dashed var(--grey-900-175);
}

.border-radius {
  border-radius: 0.5rem;
}

.space-between {
  justify-content: space-between;
}

.menu-border {
  border-left: 0.1rem solid var(--grey-900-175);
}

.modal-body {
  border-radius: 1rem;
}

.fr-btns-group--space-between {
  justify-content: space-between;
}

.no-hover {
  background-image: unset;
}

.no-hover:hover {
  background-color: unset !important;
}

.d-block {
  display: block;
}

ul {
  --ul-type: none;

  margin: 0;
  padding: 0;
}

dd,
dt {
  padding: 0;
}

tr {
  position: relative;
}

table .primary,
table :any-link.primary {
  position: revert;
}

table .primary::before,
table :any-link.primary::before {
  content: '';
  inset: 0;
  position: absolute;
  z-index: 1;
}

table :any-link,
table button {
  position: relative;
  z-index: 2;
}

.full-width {
  width: 100%;
}

.justify-center {
  justify-content: center;
}

/* permet de rendre invisible un react-select quand il est intégré à un drawer mais pas encore affiché */
.css-19bb58m {
  visibility: unset !important;
}

.reset-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

/* c'est une classe de la librairie tip tap nécessaire afin de gérer le scroll dans l'éditeur */
.ProseMirror {
  overflow: auto;
  resize: vertical;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

address {
  font-style: unset;
}

.separator {
  border-bottom: 0.1rem solid var(--border-default-grey);
}

.separator-up {
  border-top: 0.1rem solid var(--border-default-grey);
}

.input-group--sobre:not(.fr-input-group--disabled) {
  &::before {
    content: none;
  }

  .fr-label {
    color: var(--text-label-gray);
  }
}

.glycine-background {
  background-color: var(--purple-glycine-950-100);
  border-radius: 0.5rem;
}

.white-background {
  background-color: var(--grey-1000-100);
  border-radius: 0.5rem;
}

.blue-background {
  background-color: var(--blue-france-975-75);
}
