.legendContainer {
  align-items: center;
  background-color: rgb(255 255 255 / 80%);
  border-radius: 8px;
  color: #333;
  display: flex;
  font-family: sans-serif;
  font-size: 14px;
  gap: 10px;
  padding: 8px 12px;
}

.gradientBar {
  border-radius: 4px;
  display: flex;
  height: 20px;
  overflow: hidden;
  width: 200px;
}

.colorBlock {
  flex-grow: 1;
} 