@import url('maplibre-gl/dist/maplibre-gl.css');

.mapContainer {
  border-radius: 4px;
  height: 100%;
  max-height: 600px;
  overflow: hidden;
  position: relative;
  min-height: 400px;
  width: 100%;
 
}

.maplibregl-canvas {
  height: 100% !important;
  width: 100% !important;
}

.maplibregl-canvas-container {
  height: 100% !important;
  width: 100% !important;
}

.mapWrapper {
  height: 100%;
  max-height: 600px;
  min-height: 400px;
  width: 100%;
  position: relative;
}

.legendWrapper {
  bottom: 20px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: none;
} 